<div id="carouselContainer" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img [src]="carouselImages[2].image" class="d-block w-100" [alt]="carouselImages[2].description">
    </div>
    <div class="carousel-item" *ngFor="let obj of carouselImages">
      <img width="100" height="100%" [src]="obj.image" class="d-block w-100" [alt]="obj.description">
    </div>
  </div>
  <!--<button class="carousel-control-prev" type="button" data-bs-target="#carouselContainer" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselContainer" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>-->
</div>
