<div id="carouselExampleIndicators" class="carousel slide carrousel_st" data-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/bg/jGlzr.png" alt="First slide">

      <app-circle></app-circle>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/bg/bg-img-07-free-img-1.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/bg/bg-digital.jpg" alt="Third slide">
    </div>
  </div>
  <div class="hero" style="background-image: url('../../assets/fotos/header.png');"></div>
</div>




<div class="content">
  <div class="content__container">
    <p class="content__container__text">
      Come
    </p>

    <ul class="content__container__list">
      <li class="content__container__list__item">sano!</li>
      <li class="content__container__list__item">nutritivo!</li>
      <li class="content__container__list__item">saludable!</li>
      <li class="content__container__list__item">bien!</li>
    </ul>
  </div>
</div>
